{% extends "blog/base.html" %}


  {% block title %} {{post.title}} {% endblock %}
  {% block content %}


  <div class="blog-post">
      <h2 class="blog-post-title">{{ post.title|upper }}</h2>
      <p class="blog-post-meta"> {{post.publish }}</p>

      <hr>
      <p>{{post.body}}</p>
      <blockquote>
        Author :  <strong>{{post.author}}</strong>
      </blockquote>
  </div>


  <!-- adding comment section -->
  <!-- first we add the total comment system -->
  {% with comments.count as total_comments %}
    <p class="lead">
  Total Comments: {{total_comments}}
    </p>
  {% endwith %}





  <!-- now adding the comment in there -->

  {% for comment in comments %}
  <div class="col-md-15">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">{{comment.created}}</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">Comment by : {{comment.name}}</a>
        </h3>
        <p class="card-text mb-auto">{{comment.body}}</p>

      </div>
    </div>
  </div>
  {% empty %}
    <p>There is no comment</p>


  {% endfor %}


  {% if new_comment %}
        <p class="lead">
            Your Comment is added
        </p>
  {% else %}
  <!-- the form will be posed on the same page -->
  <!-- same page has the handling logic -->
  <h2>Add new Comment</h2>

  <div class="jumbotron"
        <div class="form-group">
      <form action="" method="post">


            {{ comment_form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Add Comment">
        </form>
        </div>
  </div>
    {% endif %}


{% endblock %}
